 .textbox,
      .textbox-1{
        display:block;

      }
      p{
        display:inline-block;
        vertical-align:middle;
        width:250px;
        font-family:arial;

      }
      .google{
        width:300px;
       display:block;
       margin-left:500px;
      }

      .gog{
        display:block;
        width:300px;
        margin-left:500px;
        border-style:solid;
        border-radius:5px;
        padding-right:10px;
        padding-left:10px;
        padding-bottom:10px;
        padding-top:10px;
        font-weight:bold;
    
      }
.first{
 padding-right:10px;
        padding-left:10px;
        padding-bottom:10px;
        padding-top:10px;
        margin-bottom:5px;
        font-weight:bold;
        text-align:center;
            border-radius:10px;


}

.second{
border-style:solid;
 padding-right:10px;
        padding-left:10px;
        padding-bottom:10px;
        padding-top:10px;
        margin-bottom:5px;
        font-weight:bold;
        text-align: center;
            border-radius:10px;

}

.up{
  background-color: rgb(87, 87, 255);
  border-style:solid;
  border-radius:5px;
  width:400px;
  color:white;
  font-weight:bold;
  font-size:15px;
   padding-right:10px;
        padding-left:10px;
        padding-bottom:10px;
        padding-top:10px;
        display:block;
}
.up:hover{
  background-color:rgb(128, 128, 238);
  cursor:pointer;
}
.up:active{
  background-color: rgb(194, 194, 227);
  color:black;
}
.third{
  border-style:solid;
 padding-right:10px;
        padding-left:10px;
        padding-bottom:10px;
        padding-top:10px;
        margin-bottom:5px;
        font-weight:bold;
        text-align:center;
            border-radius:10px;
            display:block;



}
.a{
  font-size:25px;
  margin-bottom:0;
}
.four{
   border-style:solid;
 padding-right:10px;
        padding-left:10px;
        padding-bottom:10px;
        padding-top:10px;
        margin-bottom:5px;
        font-weight:bold;
        width:400px;
      
        display:block;
}

.five{
   border-style:solid;
 padding-right:10px;
        padding-left:10px;
        padding-bottom:10px;
        padding-top:10px;
        margin-bottom:5px;
        font-weight:bold;
        width:400px;
        display:block;

}
.request{
   background-color: rgb(0, 0, 0);
  border-style:solid;
  border-radius:5px;
  width:200px;
  color:white;
  font-weight:bold;
  font-size:15px;
   padding-right:10px;
        padding-left:10px;
        padding-bottom:10px;
        padding-top:10px;
        DISPLAY:inline-block;
}

  .request:hover{
  background-color:rgb(81, 78, 78);
   cursor:pointer;
  }
.request:active{
  background-color:rgb(235, 216, 216);
  color:rgb(0, 0, 0);
}
.request2{
   background-color: rgb(215, 215, 215);
  border-style:solid;
  border-radius:5px;
  width:200px;
  color:rgb(0, 0, 0);
  font-weight:bold;
  font-size:15px;
   padding-right:10px;
        padding-left:10px;
        padding-bottom:10px;
          padding-top:10px;
        }
        .request2:hover{
  background-color:rgb(81, 78, 78);
   cursor:pointer;
  }
.request2:active{
  background-color:rgb(235, 216, 216);
  color:rgb(0, 0, 0);
}
