 div{
  text-align:center;
 }
 .google{
        margin-top:10px;
        margin-bottom:10px;
        
      }

      .gog{
        display:block;
        width:500px;
        margin-left:500px;
        border-style:solid;
        border-radius:5px;
        padding-right:10px;
        padding-left:10px;
        padding-bottom:10px;
        padding-top:10px;
        font-weight:bold;
        border:none;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    margin-bottom:30px;

      }
      .google-button {
  background-color: rgb(245, 245, 245);
  border: none;
  font-size: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
}
